.hero {
  margin-top: 10rem;
  padding: 0 12rem;
  text-align: center;
  color: #3a4354;
}

.hero-header {
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.hero-text {
  font-size: 1rem;
  font-weight: 600;
}
